@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply transition-all ease-linear;
    }
    html {
        @apply scroll-smooth;
    }
    img {
        @apply max-w-full;
    }
    body {
        @apply bg-white-200 text-black-100 text-sm md:text-base;
    }
    section {
        @apply px-6 md:px-9 xl:px-10 py-12 md:py-16 xl:py-24;
    }
    h1 {
        @apply font-prata text-3xl md:text-4xl lg:text-5xl 2xl:text-7xl leading-tight;
    }
    h2 {
        @apply font-prata text-3xl md:text-4xl lg:text-5xl leading-tight mb-3 md:mb-7;
    }
    h3 {
        @apply font-prata text-xl lg:text-2xl leading-tight;
    }
    textarea,
    input {
        @apply block w-full rounded-none bg-transparent border-b border-b-black-100/60 outline-none
        focus:border-b-black-100 py-2 placeholder:text-black-100/60;
    }
    textarea {
        @apply resize-none h-[96px] md:h-[128px];
    }
    header {
        @apply fixed w-full z-50;
    }
}

@layer components {
    .btn {
        @apply rounded-sm py-3 md:py-4 px-8 md:px-12 flex justify-center items-center space-x-2 border border-purple-100 transition-all ease-linear;
    }
    .btn--filled {
        @apply bg-purple-100 hover:bg-purple-200 text-white-200 hover:border-purple-200;
    }
    .btn--outlined {
        @apply bg-white-200 hover:bg-black-100 text-purple-200 hover:text-white-200 border hover:border-black-100;
    }
    .btn[disabled] {
        @apply cursor-not-allowed;
    }
    .btn--full-width {
        @apply w-full md:w-auto;
    }
    .nav {
        @apply py-6 md:py-8 2xl:py-14 px-6 md:px-9 xl:px-10 relative z-50 transition-all duration-200;
    }
    .nav-item {
        @apply my-0.5 md:my-0;
    }
    .nav-link {
        @apply hover:text-purple-100 relative transition-all duration-200;
    }
    .chip {
        @apply w-auto m-0.5 rounded-full border border-purple-100 bg-purple-100 text-white-200
        py-px px-2 text-xs md:text-sm transition-all duration-200;
    }
}

@layer utilities {
    .error-msg {
        @apply text-sm mt-1 text-start text-purple-100;
    }
    .skills-section {
        @apply lg:min-h-screen lg:flex lg:justify-center lg:items-center bg-purple-100 text-white-200 py-24;
    }
    .page-404 {
        @apply min-h-screen flex justify-center items-center;
    }
    .hero-section {
        @apply pt-20;
    }
    .nav-list {
        @apply bg-white-200 lg:bg-transparent md:bg-transparent flex flex-col -my-0.5 md:my-0 md:flex-row md:space-x-6 xl:space-x-8 pt-4 py-6 
        w-screen absolute -left-[105%] top-16 pl-6 md:static md:w-auto md:pl-0 md:left-auto md:py-0 transition-all duration-300;
    }
    .nav-btn {
        @apply md:hidden relative top-1 -ml-1;
    }
    .hero-chevron {
        @apply hidden;
    }
    .project-links {
        @apply transition-all duration-300 z-20 relative;
    }
}

/* START - custom scrollbar */
::-webkit-scrollbar {
    @apply w-1 md:w-2;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-purple-100;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-200;
}
/* END - custom scrollbar */

/* START - custom breakpoints for hero elements */
@media (min-height: 700px) {
    .hero-chevron {
        display: block !important;
    }
}
@media screen and (min-width: 768px) and (max-height: 520px) {
    .hero-info-container {
        padding-top: 64px;
    }
}
/* END - custom breakpoints for hero elements */

/* START - skills section custom CSS */
.skill-item:hover .skill-label {
    @apply underline underline-offset-8;
}
/* END - skills section custom CSS */

/* START - projects section custom CSS */
.project-card-img-container::before {
    @apply absolute inset-0 transition-all duration-300 opacity-10 z-[1];
    content: "";
}
.project-card:hover .project-card-img-container::before {
    @apply opacity-0;
}
.project-link {
    @apply cursor-pointer relative inline-block;
}
.project-link::before {
    @apply absolute bottom-0 left-0 h-px w-0 bg-white-200 transition-all duration-300;
    content: "";
}
.project-card:hover .project-link::before {
    @apply lg:w-full;
}

/* END - projects section custom CSS */

/* START - selection style */
::selection {
    @apply bg-purple-100 text-white-200;
}
section.skills-section ::selection,
footer ::selection {
    @apply bg-white-200 !text-purple-100;
}
/* END - selection style */

/* START - nav */
.nav:not(:has(.nav--scrolled)) .nav-list {
    @apply bg-transparent;
}
.nav.nav--scrolled .nav-list {
    @apply bg-white-200;
}
.nav-list.nav--open {
    @apply left-0;
}
.nav.nav--scrolled {
    @apply 2xl:py-9 bg-white-200;
}
/* END - nav */

/* START - grid background */
.grid-background {
    background-size: 128px 128px;
    background-image: linear-gradient(to right, #836b9c15 1px, transparent 1px),
        linear-gradient(to bottom, #836b9c15 1px, transparent 1px);
    @apply absolute inset-0 -z-10 h-screen overflow-hidden;
}
/* END - grid background */
